Header set Access-Control-Allow-Origin "https://a-site.42web.io"
php_value date.timezone Europe/Vienna

# Redirections
Redirect 301 /linktree Https://linktr.ee/flo.thehoe

# Error Pages
ErrorDocument 400 /errorPages/error400.html
ErrorDocument 401 /errorPages/error401.html
ErrorDocument 403 /errorPages/error403.html
ErrorDocument 404 /errorPages/error404.html
ErrorDocument 500 /errorPages/error500.html
ErrorDocument 503 /errorPages/error503.html